<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <link href="style.css" rel="stylesheet" type="text/css" />

     <script src="js/lib/angular.min.js"></script>
     <script src="js/fea-app.js"></script>

  </head>
  <body ng-app="feaApp">

  <!--
    I can't use web-server in this task. So I decided
    to use this hack. Instead of creating separate *.html
    file for each custom directive, you can add script
    with type="text/ng-template" and  id="dirName.html".
     -->
  <script type="text/ng-template" id="box.html">
      <div class="box">
          <!--deb: {{array}} <br /-->
          <div class="addButton">
              <button  ng-click="addNewRow()">Добавить строчку</button>
          </div>
          <div>
              <div>
                  <div class="sum-label"><span>Сумма, р.</span></div>
                  <div class="clear"></div>
              </div>
              <fea-row ng-repeat="value in array" value="value"/>
          </div>

          <div class="sum">Итого: <span>{{sum(array)}}</span></div>
      </div>
  </script>

  <script type="text/ng-template" id="row.html">
      <div class="row">
          <div class="row-in-view" ng-hide="editing">
              <div class="row-in-view-value" ng-click="edit()"><span>{{value.value}}</span></div>
              <div class="row-in-view-delete"><span><a ng-click="deleteRow()">Удалить</a></span></div>
              <div class="clear"></div>
          </div>
          <div class="row-in-edit" ng-show="editing">
              <div class="row-in-edit-input"><input type="text" ng-model="value.value"></div>
              <div class="row-in-edit-button"><button ng-click="save()">Сохранить</button></div>
              <div class="clear"></div>
          </div>
      </div>
  </script>

  <!--
    Main part
  -->
    <fea-box />
  </body>
</html>
