.clear {
    display: block;
    clear: both;
}

.addButton {
    margin: 5px;
}

.box {
	padding: 20px; /* better looks in chrome */
    font-family: Arial, Sans-serif;
}

.sum-label {
    float: left;
    margin: 5px;
    width: 124px;
    font-weight: bold;
    text-align: right;
}

.row {
}

.row-in-view {
    display: inline-block;
}

.row-in-view:hover {
    cursor: pointer;
    background-color: lightblue;
}

.row-in-view:hover > div.row-in-view-delete {
    display: block;
}

.row-in-view > div {
    margin: 5px;
}

.row-in-view-value {
    float: left;
    width: 124px;
    text-align: right;
}

.row-in-view-delete {
    float: left;
    width: 65px;
    display: none;
}

.row-in-view-delete > span {
    color: blue;
    border-bottom: blue dashed thin;
}

.row-in-edit {
}

.row-in-edit > div {
    margin: 5px;
}

.row-in-edit-input {
    float: left;
    width: 124px;
}

.row-in-edit-input>input {
    width: 100%;
    text-align: right;
}

.row-in-edit-button {
    float: left;
    width: 65px;
}

.sum {
    margin: 5px;
    width: 124px;
    text-align: right;
    text-wrap: none;

    background-color: white;
}

.sum > span {
    font-weight: bold;
}

.sum-alter {
    margin: 0px;
    width: 124px;
    text-align: right;
    text-wrap: none;

    background-color: white;
    border: black thick solid;
    border-bottom: none;
    position: fixed;
    bottom: 0px;
}

.sum-alter > span {
    font-weight: bold;
}